/* You can add global styles to this file, and also import other style files */
body {
}

.no-valid{
  border:1px solid red;
}
.no-agreed {
  color: red;
}
.form-control-feedback {
  font-size: 10px;
  color:red;
  line-height: 0px;
}

.logo {
  text-align: center;
}
